<h1>曲情報</h1>
    <p>music.id:<%= @music.id %></p>
    <p>music.name:<%= @music.name %></p>
    <p>music.recording_id:<%= @music.recording_id %></p>
    <p>music.artist_id:<%= @music.artist_id %></p>
    <p>music.album_id:<%= @music.album_id %></p>